<html>
<head>
    <title>TO DO LIST</title></head>

<body>
    
    <h1>Heyy ios users</h1>
    <form action="/compose" method="post">
<div class="form-group">
<label>Brand</label>
<input class="form-control" type="text" name="brand">
    <label>Frontcamera</label>
<input class="form-control" type="text" name="frontcamera">
    <label>Price</label>
<input class="form-control" type="text" name="price">
    
    <label>Processor</label>
<input class="form-control" type="text" name="processor">
        
    <label>RAM</label>
<input class="form-control" type="text" name="ram">
    
    <label>Camera</label>
<input class="form-control" type="text" name="camera">
    <label>Battery</label>
<input class="form-control" type="text" name="battery">

    <label>Display</label>
<input class="form-control" type="text" name="display">
     <div> 
                <label for="image">Upload Image</label> 
                <input type="file" id="image" 
                       name="image" value="" required> 
            </div> 
    


    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
   
    </body></html>